name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
        check-latest: true

    - name: Build
      run: go build -v ./cmd/glazier

    - name: Unit Tests
      run: go test -v ./internal/...

    - name: Integration Test
      run: go test -v ./test/integration/...

    - name: Verify Policy PASS (Server 2022)
      run: .\glazier.exe -config_root_path test\ci\policy_pass.yaml

    - name: Verify Policy FAIL (Server 2019)
      run: |
        .\glazier.exe -config_root_path test\ci\policy_fail.yaml
        if ($LASTEXITCODE -eq 0) { exit 1 } else { exit 0 }

